[Unit]
Description=protopedal service for <device>

[Service]
Type=simple
TimeoutSec=infinity
GuessMainPID=false
ExecStart=/usr/bin/protopedal-<device-short>.sh %I